body {
    font-family: sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

#d3-bar-chart-1, #d3-bar-chart-2, #d3-pie-chart-1, #d3-pie-chart-2, #other-bar-chart-1, #other-pie-chart-1, #other-bar-chart-2, #other-pie-chart-2 {
    width: 400px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
}